streamlit
langchain==0.1.20
langchain-community==0.0.38
langchain-huggingface
langchain-groq
sentence-transformers
faiss-cpu
python-dotenv
PyPDF2
docx2txt
python-docx
Pillow
pytesseract
transformers
torch