
streamlit
langchain
langchain.chains
langchain-community
langchain-huggingface
langchain-groq
sentence-transformers
faiss-cpu
python-dotenv
PyPDF2
docx2txt
python-docx
Pillow
pytesseract
transformers
torch
